@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'),
         url('/fonts/Roboto-Regular.woff2') format('woff2');
    unicode-range: U+000-5FF; /* Latin glyphs */
  }

  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Slab'),
         url('/fonts/RobotoSlab-VariableFont_wght.woff2') format('woff2');
    unicode-range: U+000-5FF; /* Latin glyphs */
  }